<div class="p-2" fxLayout="row">
  <mat-form-field fxFlex>
    <input matInput placeholder="Filtreaza" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
  <div fxFlex="2 2 calc(10em + 10px)"></div>
  <div fxFlex fxLayoutAlign="end center">
    <button mat-button color="accent" (click)="AddTipMeniu()">
      <mat-icon>add</mat-icon> Adauga
    </button>
  </div>
</div>

<div class="mat-elevation-z8 m-2" fxLayout="column" gallerize>
  <table mat-table fxFlex [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id_tip_meniu">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.id_tip_meniu}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nume_meniu">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nume meniu </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.nume_meniu}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="denumire_tip_servire">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Tip servire meniu </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.denumire_tip_servire}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="clienti_targetati">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Clienti tinta </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.clienti_targetati}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cost_tip_meniu">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Cost per meniu </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.cost_tip_meniu | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reducere">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Reducere(%) </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.reducere | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="minim_portii_pentru_reducere">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nr. minim portii pt. reducere </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.minim_portii_pentru_reducere | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagine_meniu_src">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Imagine </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        <img *ngIf="element.imagine_meniu_src" class="imagine-meniu" [src]="element.imagine_meniu_src">
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element" fxLayoutAlign="end center">
        <button mat-button color="warn" (click)="DeleteTipMeniu(element)">
          <mat-icon>delete</mat-icon>Sterge
        </button>
        <button mat-button color="primary" (click)="EditTipMeniu(element)">
          <mat-icon>edit</mat-icon>Editeaza
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
</div>
