<h1 mat-dialog-title fxLayoutAlign="center center">
  <span *ngIf="data.type=='add'">
    Adauga tip moment artistic
  </span>
  <span *ngIf="data.type=='edit'">
    Editeaza
  </span>
</h1>
<form fxLayout="column" [formGroup]="localForm" (ngSubmit)="SubmitForm()">
  <div mat-dialog-content class="example-container" fxLayout="column">
    <div class="input-row" *ngIf="data.type=='edit'">
      <mat-form-field fxFlex>
        <input matInput placeholder="Id" formControlName="id_tip_moment">
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Nume*" formControlName="nume_categorie_moment_artistic">
        <mat-error *ngIf="form.nume_categorie_moment_artistic?.invalid">
          Numele este obligatoriu
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex class="file-field">
        <mat-icon matPrefix matTooltip="Sterge fisier!" (click)="DeleteFile()">close</mat-icon>
        <input type="tel" matInput disabled placeholder="Imagine tip media" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix (click)="UploadFile()" matTooltip="Incarca fisier!">file_upload</mat-icon>
        <input type="file" id="modal-file-upload-input" accept="image/*" style="visibility: hidden;display: none;" >
      </mat-form-field>
    </div>
    <div class="input-row" [hidden]="!fileName">
      <div class="img-output">
        <img [src]="this.data.model.imagine_tip_moment_artistic_src" [hidden]="!this.data.model.imagine_tip_moment_artistic_src" class="img-fluid">
      </div>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button color="primary" type="submit" cdkFocusInitial *ngIf="data.type=='add'">
      <mat-icon>add</mat-icon> Adauga
    </button>
    <button mat-button color="primary" type="submit" cdkFocusInitial *ngIf="data.type=='edit'">
      <mat-icon>save</mat-icon> Salveaza
    </button>
    <button mat-button color="warn" type="button" (click)="onNoClick()">
      <mat-icon>close</mat-icon> Renunta
    </button>
  </div>

</form>
