<h1 mat-dialog-title fxLayoutAlign="center center">
  <span *ngIf="data.type=='add'">
    Adauga element design
  </span>
  <span *ngIf="data.type=='edit'">
    Editeaza
  </span>
</h1>
<form fxLayout="column" [formGroup]="localForm" (ngSubmit)="SubmitForm()">
  <div mat-dialog-content class="example-container" fxLayout="column">
    <div class="input-row" *ngIf="data.type=='edit'">
      <mat-form-field fxFlex>
        <input matInput placeholder="Id" formControlName="id_element_design">
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Nume*" formControlName="nume_element">
        <mat-error *ngIf="form.nume_element?.invalid">
          Numele este obligatoriu
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Culoare*" formControlName="culoare">
        <mat-error *ngIf="form.culoare?.invalid">
          Culoarea este obligatorie
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput type="number" placeholder="Cantitate*" formControlName="cantitate">
        <mat-error *ngIf="form.cantitate?.invalid">
          Cantitatea pe bucata este obligatoriu
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Dimensiune*" formControlName="dimensiuni">
        <mat-error *ngIf="form.dimensiuni?.invalid">
          Dimensiunea este obligatorie
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput type="number" placeholder="Pret pe element*" formControlName="pret_per_element">
        <mat-error *ngIf="form.pret_per_element?.invalid">
          Pretul pe element este obligatoriu
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput type="number" placeholder="Discount" formControlName="discount">
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Numar minim elemente pt. reducere" type="number" formControlName="numar_minim_elemente_pentru_reducere">
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field fxFlex class="file-field">
        <mat-icon matPrefix matTooltip="Sterge fisier!" (click)="DeleteFile()">close</mat-icon>
        <input type="tel" matInput disabled placeholder="Imagine element design" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix (click)="UploadFile()" matTooltip="Incarca fisier!">file_upload</mat-icon>
        <input type="file" id="modal-file-upload-input" accept="image/*" style="visibility: hidden;display: none;" >
      </mat-form-field>
    </div>
    <div class="input-row" [hidden]="!fileName">
      <div class="img-output">
        <img [src]="this.data.model.imagine_element_design_src" [hidden]="!this.data.model.imagine_element_design_src" class="img-fluid">
      </div>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button color="primary" type="submit" cdkFocusInitial *ngIf="data.type=='add'">
      <mat-icon>add</mat-icon> Adauga
    </button>
    <button mat-button color="primary" type="submit" cdkFocusInitial *ngIf="data.type=='edit'">
      <mat-icon>save</mat-icon> Salveaza
    </button>
    <button mat-button color="warn" type="button" (click)="onNoClick()">
      <mat-icon>close</mat-icon> Renunta
    </button>
  </div>

</form>
